@import "./reset.scss";

:root {
  --white: #fff;
  --black: #000;
}

@mixin button($text-color) {
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.3s;
  &:hover {
    background-color: var(--white);
    color: $text-color;
    transform: scale(1.02);
  }

  @media (max-width: 420px) {
    width: 320px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-image: url("../img/background-image4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%, 50%;

  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

.upper_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}


.middle_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom_container {
  display: block; 
  height: 80px;
}


.button {
  @include button(var(--black));
  border: 1.5px solid var(--white);
  &--active {
    @include button(var(--black));
    color: var(--black);
    background-color: var(--white);
  }
}

.session-buttons {
  display: flex;
  column-gap: 30px;
  margin-bottom: 40px;

  @media (max-width: 420px) {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.switch-icon {
  cursor: pointer;
}

.switch-setting-container {
  position: absolute;
  right: 50px;
  top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 90px;
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 10px;
}

.pomodoro-icon, .clock-icon {
  cursor: pointer;
  height: 24px;
} 

.date-time-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.timer, .clock {
  text-align: center;
  font-size: 8rem;
  font-weight: 500;

  @media (max-width: 420px) {
    font-size: 6rem;
  }
}

.control-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

#start-button {
  width: 150px;
  padding: 10px 0;

  &:active {
    transform: translateY(1px);
  }
}

.refresh-icon,
.settings-icon {
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.03);
  }
}

.refresh-icon {
  transition: 1s;
  &:hover {
    transform: rotate(360deg);
  }
}

.settings-icon {
  padding-top: 5px;
  width: 25px;
}

.settings {
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 60px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#session-settings-list li:nth-child(3) input {
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  border: 1px solid var(--white);
  border-radius: 5px;
  margin-bottom: 20px;
}

.settings-button {
  width: 100%;
}

.hidden {
  display: none;
}

iframe {
  width: 447px;
  height: 80px;
  @media (max-width: 420px) {
    width: 100%;
  }
}

.weather {
  cursor: pointer;

}

.weather-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.weather-data-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.weather-icon {
  height: 30px;
}

.temp {
  font-size: 18px;
}

.cityName {
  font-size: 14px;
  font-weight: 300;
}

/* weather info card */
.weather-info {
  position: absolute;
  top: 60px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  border-radius: 10px;
  padding: 20px 20px;
}
.weather-info-wrapper {
  display: flex;
  column-gap: 30px;
}
.weather-info__left__city {
  font-size: 24px;
}

.weather-info__left__wrapper {
  display: flex;
  align-items: center;  
  font-size: 24px;
  font-weight: 500;
}
.weather-info__left__wrapper__icon {
  margin-left: -15px;
}
.weather-info__right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;

  span {
    font-weight: 300;
    font-size: 12px;
    color: #e8e8e8;
  }
}

